:root {
    color-scheme: light dark;
}

body {
    font-family: system-ui;
    min-width: 320px;
}

.name {
    display: flex;
    padding-right: 10px;
    padding-bottom: 10px;
}

input {
    font-size: 17px;
}

.element-left > input {
    width: 60%;
}

.element-right > input {
    width: 90%;
}

#add {
    font-size: 17px;
    float: right;
}


#toolbar {
    display: flex;
    justify-content:space-between;
    height: 30px;
}

header {
    padding-bottom: 10px;
}

p {
    font-size: 14px;
}

.remove {
    background-color: transparent;
    border: none;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}


