:root {
    color-scheme: light dark;
}

body {
    padding: 10px;
    font-family: system-ui;
    min-width: 400px;
}

.name {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-bottom: 10px;
}

.element-right {
    padding-right: 10px;
    padding-left: 10px;
}

input {
    width: 125px;
    font-size: 17px;
}

#add, #save {
    font-size: 17px;
    float: right;
}

#save {
    float: right;
}

#toolbar {
    display: flex;
    justify-content:space-between;
    height: 30px;
}

header {
    padding-bottom: 10px;
}

p {
    font-size: 14px;
}

.remove {
    background-color: transparent;
    border: none;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
